body  {
  background-color: #282d30;
  color: white;
}


.navbar-brand {
  margin-right: 22rem;
  position: sticky;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top:0;
  z-index: 1;
}

.navbar-expand-lg
.navbar-nav .nav-link {
  padding-right: 3.5rem;
}


.row {
  padding: 20px;
}
  
.line {
  color: white;
  width: 50px;
  height: 10px;
}

#card {
  border-radius: 15px;
  background-color: #3a4247;
  color: white;
  display: flex;
  /* flex-wrap: wrap; */
}

#rep-img {
  padding: 10px;
  /* border: 5px solid #009900; */
  border-radius: 50%;
  float: left;
  width:  100px;
  height: 100px;
  background-size: cover;
}